table {
  /* background-color: red; */
}

div.npc { /* non-puzzle content */
  border-radius: 25px;
  border: 2px dashed darkred;
  background-color: lavenderblush;
}

div.double-box {
  display: flex;
  row-gap: 10px;
}

div.picture-container {
  display: flex;
  flex-wrap: wrap;
  width: 1600px;
}

div.picture-pile-container {
  display: flex;
  align-items: center;
}